<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- 输出到日志文件 -->
 <appender name="filelog"
  class="org.apache.log4j.RollingFileAppender">
  <!-- 设置File参数：日志输出文件名 -->
  <!-- D:/LOG/com.log -->
  <param name="File" value="out.log" />
  <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
  <param name="Append" value="true" />
  <!-- 设置文件大小 -->
  <param name="MaxFileSize" value="100KB" />
  <!-- 设置文件大小 -->
  <param name="MaxBackupIndex" value="10" />
  <!-- 设置输出文件项目和格式 -->
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
  </layout>
 </appender>

 <!-- 输出到控制台中 -->
 <appender name="console" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern"
    value="%-5p: %m%n" />
   <!-- "%-5p: [%t] [%c{3}.%M(%L)] | %m%n" -->
  </layout>
 </appender>

 <!-- 设置类名限制输出的通道 -->
 <category name="com.test1" additivity="false">
  <level value="ERROR" />
  <appender-ref ref="console" />
  <appender-ref ref="filelog" />
 </category>

 <!-- 设置类名限制输出的通道 -->
 <category name="org.springframework" additivity="false">
  <level value="OFF" />
  <appender-ref ref="console" />
  <appender-ref ref="filelog" />
 </category>

    <!-- 设置类名限制输出的通道 -->
 <category name="org.cjj" additivity="false">
  <level value="INFO" />
  <appender-ref ref="console" />
  <appender-ref ref="filelog" />
 </category>

 <!-- 设置接收所有输出的通道 -->
 <root>
  <level value="INFO" />
  <appender-ref ref="console" />
  <appender-ref ref="filelog" />
 </root>

</log4j:configuration>